FASTIK_DOMAIN=fastik.space
CORS_ORIGIN=https://fastik.space

FASTIK_API_IMAGE=fastik-api:latest
FASTIK_WEB_IMAGE=fastik-web:latest

POSTGRES_DB=fastik
POSTGRES_USER=fastik
POSTGRES_PASSWORD=change_me_database_password

JWT_ACCESS_SECRET=change_me_long_random_secret
JWT_ACCESS_TTL=2h
